a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

button {
		border: none;
		outline: 0;
}

body {
    line-height: 1;
    font-family: 'Play',sans-serif;
    /*background: #e3e3e3;*/
    background: #fff;
    color: #343538;
    min-width: 1280px;
		-webkit-font-smoothing: antialiased;
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: #fff
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 53, 56, 0.7);
	opacity: 1;
	z-index: 20;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	visibility: visible;
}
.hidden {
	opacity: 0;
	visibility: hidden;
}

.clearfix::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.layout {
    width: 100%;
    max-width: 1096px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.layout_wide {
    max-width: 1280px
}

.button-popup {
    font-size: 25px;
    padding: 12px 22px 16px 7px;
    display: inline-block;
    position: relative;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.button-popup:hover {
		opacity: 0.7;
}

.button-popup:after {
    content: '';
    width: 39px;
    height: 39px;
    position: absolute;
    top: 8px;
    right: -20px;
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1
}

.btn_orange {
    background: url(../img/arrow-orange.png) no-repeat right center/cover
}

.btn_red {
    background: url(../img/arrow-red.png) no-repeat right center/cover;
    padding: 17px 50px 17px 24px;
    font-size: 30px
}

.color_orange {
    color: #ff9b00
}

.color_red {
    color: #ff0101
}

.header {
    height: 130px;
    padding-top: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 2
}

.header .layout {
    padding-left: 40px
}

.header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.header .logo {
    width: 100px;
    height: 99px;
    margin-right: 16px
}

.header__titles {
    margin-right: 96px
}

.header__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px
}

.header__subtitle {
	font-size: 20px;
}

.slider__title h2 {
    font-size: 25px
}

.header__slogan {
    font-size: 20px;
    margin-right: 32px;
    margin-top: 13px
}

.header .button {
    width: 165px;
    margin-right: 64px;
    margin-top: 17px
}

.header__phone {
    position: relative;
    font-size: 30px;
    padding-left: 40px;
    margin-top: 12px
}

.header__phone:before {
    width: 30px;
    height: 34px;
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    background: url(../img/header__phone.png) no-repeat center
}

.top-navi {
    background: #343538;
    -webkit-box-shadow: 0 3px 15px 3px rgba(0,0,0,.35);
    box-shadow: 0 3px 15px 3px rgba(0,0,0,.35);
    position: relative;
    z-index: 1
}

.top-navi__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.top-navi__link {
    padding: 8px 48px;
    display: block
}

.top-navi__link.active,.top-navi__link:hover {
    background: #e3e3e3;
    color: #343538;
    -webkit-box-shadow: inset 0 3px 3px 1px rgba(0,0,0,.5);
    box-shadow: inset 0 3px 3px 1px rgba(0,0,0,.5)
}

.slider {
    margin-bottom: 48px;
}

.slider__slide {
    width: 100%;
    height: 409px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 15px 3px rgba(0,0,0,.35);
    box-shadow: 0 3px 15px 3px rgba(0,0,0,.35);
    background: url(../img/slide-1.jpg) no-repeat center/cover
}

.slider__wrapper {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.slider__title {
    max-width: 490px;
    text-shadow: 0 2px 1px rgba(0,0,0,.75);
    color: #fff;
    margin-left: 30px;
    padding-top: 4px
}

.slider__title h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px
}

.slider__step {
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-shadow: 0 2px 5px rgba(0,0,0,.35)
}

.slider__step span {
    text-transform: uppercase
}

.step_one {
    bottom: 15px;
    left: 150px;
    max-width: 190px
}

.step_two {
    bottom: 75px;
    left: 380px;
    max-width: 210px
}

.step_three {
    bottom: 160px;
    left: 615px;
    max-width: 155px
}

.step_four {
    bottom: 210px;
    left: 790px;
    max-width: 230px
}

.slider__slide .button {
    position: absolute;
    bottom: 24px;
    right: 0
}

.section-block {
    margin-bottom: 48px;
}

.theme_cremy {
    -webkit-box-shadow: 0 3px 15px 3px rgba(0,0,0,.35);
    box-shadow: 0 3px 15px 3px rgba(0,0,0,.35);
    background: #fbf7f3;
    padding-bottom: 32px
}

.promotion__right {
    margin-left: 16px;
    margin-top: 70px
}

.section__title {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background: url(../img/section__title.png) no-repeat center top;
    padding: 3px 0 0 96px;
    margin-bottom: -16px;
    height: 73px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 10
}

.promotion__text {
    padding: 0 96px;
    margin-bottom: 32px;
    font-size: 22px
}

.promotion__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding-left: 96px
}

.promotion__text-title {
    font-size: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,.35);
    margin-bottom: 24px;
    font-weight: 700
}

.promotion__text-descr {
    font-size: 20px;
    margin-bottom: 24px
}

.promotion__text-block {
    margin-bottom: 48px
}

.manual-block .section__title {
    margin-bottom: -40px
}

.manual-block__row {
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: -24px
}

.manual-block__row:nth-child(2) {
    z-index: 5
}

.manual-block__row:nth-child(4) {
    z-index: 3;
    margin-bottom: 32px
}

.manual_last_row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px
}

.manual-block__item {
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 32px 24px;
    background: #4e806d;
    -webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
    box-shadow: 0 3px 14px 3px rgba(0,0,0,.35)
}

.manual-block .item_single {
    width: 100%;
    margin: 0 100px;
    background: #2d4e58;
		display: block;
		padding: 48px 64px 0px;
}

.item_single .manual-block__title {
    min-height: auto
}

.manual-block__title {
    font-size: 22px;
    text-shadow: 0 2px 4px rgba(0,0,0,.35);
    font-weight: 700;
    margin-bottom: 16px;
    min-height: 78px
}

.manual-block__title span {
    color: #fff;
    text-transform: uppercase
}

.manual-block__number {
    margin-bottom: -5px;
    margin-right: 8px
}

.manual-block__image {
    text-align: center;
    margin-bottom: 16px;
    min-height: 162px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.item_single .manual-block__image {
    float: left;
    margin-bottom: 0;
    margin-right: 24px
}

.manual-block__text {
    color: #fff;
    font-size: 15px;
    line-height: normal
}

.manual-block-cto {
    margin-left: auto;
    margin-right: 32px
}

.manual-block .button {
    margin-right: 30px
}

.team-block-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 32px
}

.team-block__image {
    width: 33.3%;
    text-align: center
}

.team-block__position {
    width: 330px;
    text-align: center;
    background: #2d4e58;
    -webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
    box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-right: 21px;
    padding: 16px 0
}

.team-block__position:last-child {
    margin-right: 0
}

.content_start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.align_top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.margin_bot-16 {
    margin-bottom: 16px
}

.team-block-bg {
    background: #ebefee;
    margin: 0 32px;
    -webkit-box-shadow: inset 0 2px 1px 1px rgba(0,0,0,.35);
    box-shadow: inset 0 2px 1px 1px rgba(0,0,0,.35)
}

.team-block-bg .team-block-row {
    padding: 24px 8px 32px
}

.team-block__item {
    width: 330px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 21px
}

.team-block__item:last-child {
    margin-right: 0
}

.team-block__title {
    font-size: 27px;
    color: #cf1800;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: left
}

.team-block__text {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: normal;
}

.seo-block {
    background: #fff url(../img/seo-bg.png) no-repeat center top
}

.seo-block-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 24px
}

.seo-block__item {
    width: 50%
}

.seo-block__l {
    margin: 32px 24px 32px 32px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto
}

.seo-block__l::-webkit-scrollbar {
    width: 15px;
    background: #eaeaea;
    border-radius: 5px;
}

.seo-block__l::-webkit-scrollbar-thumb {
    background: #ff990e;
    border-radius: 5px;
    width: 15px;
    height: 25%
}

.seo-block__l-item {
    font-size: 20px;
    margin-bottom: 16px;
    position: relative;
    padding-left: 35px;
    line-height: normal
}

.seo-block__l-item:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #ff990e;
    position: absolute;
    top: 2px;
    left: 3px;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.35);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.35)
}

.articles-block__title {
    font-size: 32px;
    font-weight: 700;
    color: #e3e3e3;
    background: #21816c;
    position: relative;
    margin-top: -73px;
    padding: 63px 32px 16px 94px
}

.articles-block__title.block_title_bg {
    background: #21816c url(../img/articles-title-bg.png) no-repeat left center
}

.articles-block__title:before {
    content: '';
    width: 44px;
    height: 54px;
    position: absolute;
    left: 36px;
    top: 53px;
    background: url(../img/articles-title.png) no-repeat center
}

.articles-block__list {
    padding: 24px 32px
}

.articles-block__item {
    margin-bottom: 24px
}

.articles-block__link {
    color: #054d58;
    font-size: 22px;
    text-decoration: underline;
    position: relative;
    padding-left: 50px
}

.articles-block__link:before {
    content: '';
    width: 23px;
    height: 39px;
    position: absolute;
    top: -3px;
    left: 0;
    background: url(../img/articles-item.png) no-repeat center
}

.articles_last_item {
    text-align: right;
    margin-bottom: 0
}

.callback-block_inner {
    width: 1100px;
    height: 281px;
    margin: 0 auto;
    background: url(../img/callback.jpg) no-repeat center;
    position: relative
}

.callback-block-button {
    position: absolute;
    right: 60px;
    bottom: 40px;
    background: #f11100;
    font-size: 22px;
    width: 170px;
    text-align: center;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.6);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.6)
}

.callback-block-button a {
    display: block;
    padding: 16px;
    font-size: 20px
}

.callback_alt .callback-block_inner {
    width: 1100px;
    height: 281px;
    margin: 0 auto;
    background: url(../img/callback-alt.jpg) no-repeat center;
    position: relative
}

.callback-alt-title {
    font-size: 75px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 3px 6px rgba(0,0,0,.8);
    padding-left: 350px;
    padding-top: 32px;
    margin-bottom: 48px
}

.callback-alt-subtitle {
    font-size: 55px;
    font-weight: 700;
    color: #404040;
    text-shadow: 0 2px 3px rgba(0,0,0,.8);
    padding-left: 350px;
    line-height: 40px
}

.callback-alt-subtitle span {
    font-size: 35px;
    font-weight: 400
}


.slider__slide-2 {
		height: 409px;
		background: url(../img/slide-2.png) no-repeat center/cover;
		position: relative;
}
.slider__slide-2 .slider__title {
		margin-left: auto;
		max-width: 580px;
		padding-top: 25px;
}
.slider__slide-2 .slider__wrapper {
		height: 50%;
}
.slider-subtitle {
		position: absolute;
		top: 25px;
		left: 55px;
}
.slider-subtitle h2 {
		font-size: 35px;
		color: #fff;
		text-shadow: 0 2px 1px rgba(0,0,0,.75);
}

.promotion_bg {
		background: #fff url(../img/money.png) no-repeat;
		background-position: 85% 60%;
}
.block_context .promotion__text {
		padding: 0 32px;
}
.block_context .promotion__description {
		padding-left: 32px;
}
.block_context .promotion__right {
		margin-top: -26px;
		padding-right: 32px;
		margin-left: 38px;
}
.promotion__center {
		-ms-grid-row-align: center;
		    -ms-flex-item-align: center;
		    align-self: center;
		font-size: 20px;
		width: 150px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 8px;
		margin-top: -60px;
		line-height: normal;
}
.promotion__center span {
		color: #cf1800;
}
.block_context .promotion__text-title, .block_context .promotion__text-descr {
		margin-bottom: 16px;
}
.context_page .btn_orange {
		padding: 20px 27px 23px 14px;
}
.context_page .btn_red {
		padding: 14px 50px 21px 24px;
}
.block_features {
		background: #fff url(../img/features.png) no-repeat center top/cover;
}
.block_features .section__title {
		height: 82px;
}
.features-block-item-wrap {
		width: 100%;
}
.block_features .btn_red {
		background: url(../img/arrow-red-features.png) no-repeat right center/cover;
}
.block_features .subtitle {
		font-size: 30px;
		color: #fff;
		font-weight: 700;
		text-shadow: 0 2px 1px rgba(0,0,0,.75);
		padding-left: 32px;
		margin-top: -32px;
}
.block_features .seo-block__l {
	max-height: 200px;
}
.seo-block__l-item:before {
		top: 10px;
}
.seo-block__l-item strong {
		font-weight: 700;
}
.features-block-item {
		text-align: center;
		/*margin-right: 80px;*/
}
.features-block-item:first-child {
	margin-right: 80px;
}
.features-block-item:last-child {
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-align: left;
	margin-bottom: 10px;
}
.features-block-item p {
		font-size: 22px;
		color: #fff;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 8px;
}

.steps-block .item_single {
		width: 660px;
		background: #f5f5f5;
		padding: 0;
		overflow: hidden;
		margin: 0;
		-ms-flex-item-align: center;
		align-self: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.steps-block .row_single {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.steps-block .manual-block__row {
		margin-bottom: 16px;
}
.steps-block .color_red {
		color: #cf1800;
}
.manual-block__item.item_double {
		width: 470px;
		background: #f5f5f5;
		padding: 0;
		overflow: hidden;
}
.manual-block__item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
}
.manual-block__item-heading {
		background: #2d4e58;
		padding: 24px 32px 0;
		-webkit-box-shadow: 0 7px 7px -2px rgba(0,0,0,.35);
		box-shadow: 0 7px 7px -2px rgba(0,0,0,.35);
}
.steps-block .item_single .manual-block__image {
	float: none;
}
.steps-block .manual-block__image {
		min-height: 200px;
}
.manual-block__item.item_double .manual-block__image {
		margin-bottom: 0;
}
.steps-block .manual-block__text {
		color: #343538;
		font-weight: 700;
		font-size: 20px;
		padding: 0 32px 40px;
		position: relative;
		height: 100%;
		padding-top: 16px;
}
.steps-block .manual-block__text:before {
		width: 20px;
		height: 110%;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: #ff990e;
}
.goals-block.theme_cremy {
		background: #fbf8fa url(../img/goals-bg.png) no-repeat center;
}
.goals-block-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
}
.goals-block-item {
		width: 170px;
		height: 150px;
		background: #2d4e58;
		color: #fff;
		font-size: 25px;
		text-align: center;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 8px;
		-webkit-box-shadow: 0 7px 7px -2px rgba(0,0,0,.35);
		box-shadow: 0 7px 7px -2px rgba(0,0,0,.35);
}
.context_page .articles-block__title {
		padding: 59px 32px 20px 112px;
		color: #fff;
		text-shadow: 0 2px 4px rgba(0,0,0,.35);
}
.context_page .articles-block__title::before {
		width: 65px;
		height: 66px;
		background: url(../img/faq.png) no-repeat center;
		left: 32px;
		top: 44px;
}
.articles-block__item_opened .articles-block__link {
	font-weight: 700;
}
.articles-block__item_opened .articles-block__link:before {
		width: 38px;
		height: 24px;
		background: url(../img/articles-item-opened.png) no-repeat center;
		top: 5px;
		left: -10px;
}
.articles-block-steps-list {
		margin-left: 90px;
		margin-top: 24px;
}
.articles-block-steps-item {
		margin-bottom: 16px;
}
.articles-block-steps-item .articles-block-steps-item__heading {
	text-decoration: underline;
	color: #cf1800;
}
.articles-block-steps-item p {
		font-size: 22px;
		color: #343538;
		margin-bottom: 8px;
}
.articles-block-bottom {
		height: 40px;
		width: 100%;
		background: url(../img/articles-block-bottom.png) no-repeat left top/cover;
		margin-bottom: -32px;
}
.main-title {
		font-size: 35px;
		color: #e3e3e3;
		text-align: center;
		font-weight: 700;
		text-shadow: 0 2px 4px rgba(0,0,0,.35);
		padding: 24px 0;
		margin-bottom: 24px;
		-webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
		box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
}
.articles_page .main-title.block_title_bg {
	  background: #21816c url(../img/articles-title-bg.png) no-repeat left center/cover;
}
.article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		background: -webkit-gradient(linear, left top, left bottom, from(#dde3e1),to(#ffffff));
		background: -webkit-linear-gradient(top, #dde3e1 0%,#ffffff 100%);
		background: -o-linear-gradient(top, #dde3e1 0%,#ffffff 100%);
		background: linear-gradient(to bottom, #dde3e1 0%,#ffffff 100%);
		-webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
		box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
		margin-bottom: 48px;
}
.article.article_reverse {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
}
.article.article_full {
		display: block;
}
.article__image {
		-webkit-box-shadow: 0 5px 15px 5px rgba(0,0,0,.35);
		box-shadow: 0 5px 15px 5px rgba(0,0,0,.35);
}
.article__image img {
		display: block;
}
.article__descr {
		padding-left: 32px;
		padding-top: 8px;
		font-size: 19px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-right: 16px;
}
.article__heading {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 24px;
}
.article__text {
		margin-bottom: 24px;
		line-height: normal;
}
.article__footer {
		margin-top: auto;
		margin-bottom: 8px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
}
.article__time {
		font-style: italic;
}
.article__link {
		color: #2d4e58;
		text-decoration: underline;
}
.articles_page .articles-block-bottom {
		margin-bottom: 32px;
		-webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
		box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
}
.contacts_page .main-title.block_title_bg {
		background: #21816c url(../img/contacts-bg.jpg) no-repeat center center/cover;
}
.contacts-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-bottom: 24px;
}
.contacts-item {
		width: 50%;
}
.contacts-item p {
		font-size: 24px;
		margin-bottom: 16px;
		line-height: normal;
}
.contacts-item a {
		color: #2d4e58;
}
.form-title {
		font-size: 26px;
		margin-bottom: 8px;
}
.form-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 16px;
		margin-bottom: 16px;
}
.form-item:first-child {
	margin-top: 24px;
}
.form-item_textarea {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-top: 4px;
}
.form-item_textarea label {
		margin-bottom: 4px;
}
.form-item input {
		width: 70%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 4px 8px;
}
.form-item textarea {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 4px 8px;
		/*resize: none;*/
}
.contacts-info .button {
		text-align: right;
}
.contacts_page .btn_orange {
		padding: 20px 27px 23px 14px;
		color: #fff;
		background-size: contain;
}
.contacts-map {
		text-align: center;
		margin-bottom: 24px;
}
.contacts-block-bottom {
		height: 100px;
		width: 100%;
		background: url(../img/contacts-bg.jpg) no-repeat left top/cover;
		-webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
		box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
}
.article_inner_page .article {
		display: block;
		/*max-width: 815px;
		margin: 0 auto;*/
		padding: 0 16px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 32px;
		padding-bottom: 16px;
}
.article_inner_page .main-title {
		color: #343538;
		font-size: 43px;
		-webkit-box-shadow: none;
		box-shadow: none;
}
.article_inner_page .article {
		background: -webkit-gradient(linear, left top, left bottom, from(#eff1f0),color-stop(50%, #ffffff), to(#eff1f0));
		background: -webkit-linear-gradient(top, #eff1f0 0%,#ffffff 50%, #eff1f0 100%);
		background: -o-linear-gradient(top, #eff1f0 0%,#ffffff 50%, #eff1f0 100%);
		background: linear-gradient(to bottom, #eff1f0 0%,#ffffff 50%, #eff1f0 100%);
}
.article-block {
		position: relative;
}
.article-block .article__image {
	float: right;
	-webkit-box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
	box-shadow: 0 3px 14px 3px rgba(0,0,0,.35);
	margin-left: 16px;
	margin-bottom: 8px;
}
.article_inner_page .article-block:nth-child(odd) .article__image {
		float: left;
		margin-left: 0;
		margin-right: 16px;
}
.article-block .article__text {
		font-size: 19px;
		line-height: normal;
}
.article__list {
		margin-bottom: 48px;
}
.article-list__item img {
		float: left;
}
.article__list .article__text {
		padding-left: 36px;
		margin-bottom: 16px;
}
.article__list.square_list .article-list__item {
		position: relative;
}
.article__list.square_list .article-list__item:before {
		content: '';
		width: 18px;
		height: 18px;
		background: #343538;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.35);
		box-shadow: 0 1px 2px 1px rgba(0,0,0,.35);
}
.article_inner_page .article__footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 48px;
}
.article_inner_page .article__time {
		margin-bottom: 8px;
}
.article__totals {
		position: absolute;
		top: 65%;
		right: 0;
}
.article__list.list_more .article-list__item {
		padding-left: 0;
		margin-bottom: 21px;
}
.article__list.list_more .article__text {
		font-size: 19px;
		line-height: normal;
		padding-left: 0;
		margin-bottom: 21px;
}
.article__list.list_more .articles-block__link {
		color: #2d4e58;
		text-decoration: underline;
		padding-left: 32px;
		font-size: 19px;
}
.article__list.list_more .articles-block__link:before {
		top: -5px;
}
