@import "reset.scss";
@import "grid.scss";
@import "colors.scss";
@import "typography.scss";
@import "forms.scss";

body {
    background-color: #fff;
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
}
.header {
    margin: 48px 0 149px;

    @media screen and (max-width: 767px) {
        margin-bottom: 101px;
    }
    @media screen and (max-width: 519px) {
        margin-bottom: 68px;
    }
}
.lang-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item:first-of-type {
        .lang-switcher__link {
            border-left: 2px solid $color-black-5;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
    }
    &__item:last-of-type {
        .lang-switcher__link {
            border-right: 2px solid $color-black-5;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }

    &__link {
        display: block;
        padding: 13px 22px;
        border-top: 2px solid $color-black-5;
        border-bottom: 2px solid $color-black-5;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 700;
        color: $color-pink-secondary;
        text-transform: uppercase;
    
        @media screen and (max-width: 520px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border: 2px solid $color-black-5;
            border-radius: 50% !important;
        }
        

        &.lang_active {
            background-color: $color-black-5;
            color: $color-black-40;

            @media screen and (max-width: 520px) {
                display: none;
            }
        }
        &:not(.lang_active):hover {
            color: $color-pink;
            transition: color 0.2s linear;
        }
    }
}
.top-banner {
    margin-bottom: 120px;
    background: url('../img/top-banner-bg.png') no-repeat right 60%;
    background-size: contain;

    @media screen and (max-width: 768px) {
        margin-bottom: 0;
        background: none;
    }
}
.block_with_people-big {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.block_with_people {
    display: none;
    margin-bottom: 80px;

    @media screen and (max-width: 768px) {
        display: block;
        background: url('../img/top-banner-bg-small.png') no-repeat center center;
        background-size: contain;
    }
}
.responsive-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.description {
    margin-bottom: 144px;
}
.features {
    margin-bottom: 144px;

    &-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &-item {
        width: 33.3%;
        width: calc(33.3% - 32px);
        padding: 24px 24px 24px 0;
        margin-bottom: 24px;
        box-sizing: border-box;

        @media screen and (max-width: 1365px) {
            width: calc(50% - 32px);
        }
        @media screen and (max-width: 519px) {
            width: 100%;
            // text-align: center;
        }
    }
    &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        margin-bottom: 24px;
        background: url('../img/icon-poligon.png') no-repeat center;

        @media screen and (max-width: 519px) {
            margin: 0 auto 24px;
        }

        svg {
            fill: $color-pink-secondary;
        }
    }
}
.contacts {
    margin-bottom: 144px;

    &__image-wrap {
        padding: 0 16px;

        .caption {
            margin-top: 32px;
        }
    }
}
.list__item {
    margin-bottom: 16px;
}
.footer {
    margin-bottom: 80px;

    @media screen and (max-width: 1365px) {
        margin-bottom: 0;
    }


    .list {
        width: calc( 25% - 32px );

        @media screen and (max-width: 1365px) {
            width: calc( 50% - 32px );
            margin-bottom: 40px;

            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 2;
            }
        }
        @media screen and (max-width: 519px) {
            width: 100%;
        }
    }
    .link {
        font-size: 20px;
        font-weight: bold;
    }
}