.layout {
    display: block;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;

    @media screen and (max-width: 1366px) {
        padding: 0 24px;
    }
    @media screen and (max-width: 768px) {
        padding: 0 16px;
    }
}
.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column_reverse_mobile {
    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}
.aligned_top {
    align-items: flex-start;
}
.grid-col6 {
    width: 50%;
}
.grid-col4 {
    width: 33.3%;
}
.grid-sm-col12 {
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}
.grid-xs-col12 {
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.mobile_hide {
    @media screen and (max-width: 1023px) {
        display: none;
    }
}